<div class="row">
    <div class="col-md-12 m-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['nuevo']">Nuevo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['editar']">Editar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['detalle']">Detalles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['gmail']">Gmail</a>
            </li>
        </ul>

    </div>
</div>

<router-outlet></router-outlet>