<h4>Formularios <small>Data</small></h4>
<hr>

<form [formGroup]='forma' (ngSubmit)='guardarCambios()' [ngClass]="needs-validation">

    <div formGroupName="nombrecompleto">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <!-- [ngClass]="{'is-invalid': !forma.controls['nombrecompleto'].controls['nombre'].valid}"  otra forma de hacer los mismo-->
                <input class="form-control form-control-sm " [ngClass]="{'is-invalid': !forma.get('nombrecompleto.nombre').valid}" type="text" placeholder="Nombre" formControlName="nombre">

                <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="invalid-feedback">
                    Este Campo es requerido.
                </div>
                <div *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength" class="invalid-feedback">
                    Ingrese por lo menos 3 caracteres.
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control form-control-sm " type="text" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control form-control-sm " type="email" placeholder="Correo electrónico" formControlName="email">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">pasatiempos</label>
        <div class="col-md-8" formArrayName="pasatiempos">
            <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index " [formControlName]="i" type="text" class="form-control">

        </div>
        <button (click)="agregarPasatiempos()" type="button" class="btn btn-outline-primary">   Add    </button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">User Name</label>
        <div class="col-md-8">
            <input class="form-control form-control-sm " type="text" placeholder="nombre de usuario" formControlName="username">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
            <input class="form-control form-control-sm " type="Password" placeholder="Password" formControlName="password1">
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir Password</label>
        <div class="col-md-8">
            <input class="form-control form-control-sm " type="Password" placeholder="Repetir Password" formControlName="password2">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

    {{ forma.valid }}
    <br> {{ forma.status }}
</form>


<pre>
  importar  ReactiveFormsModule en app.module.ts  
</pre>